<% provide(:title, @title) %>
<div class="row">
  <aside class="col-sm-3">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <div class="profile_link_view"><%= link_to "View Profile", @user %></div>
      <div class="profile_link_view"><b>Grunts:</b> <%= @user.microposts.count %></div>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-sm-6">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate(renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer,
                        class: 'text-center') %>
    <% else %>
      <% if current_user == @user %>
        <p>Start following <%= link_to "users", users_url %> to develop your own social network!</p>
      <% else %>
        <p><%= @user.name %> has not started this social activity, follow them to help them get started!</p>
        <div class="center">
        <%= render 'follow_form' if logged_in? %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
