<% provide(:title, @title) %>
<div class="row mobile-row">
  <aside class="content-box profile-box">

  <% unless current_user?(@user) %>
  <div class="users_follow_right <%= "users-follow-form-#{@user.id}" %>"
                            data-user_id="<%= "#{@user.id}" %>"
                            id="<%= "users-follow-form-#{@user.id}" %>">
    <% if current_user.following?(@user) %>
      <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
                html: { method: :delete }) do |f| %>
        <%= f.submit "Unfollow", class: "btn btn-primary btn-unfollow" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :followed_id, @user.id %></div>
        <%= f.submit "Follow", class: "btn btn-primary btn-follow" %>
      <% end %>
    <% end %>
  </div>
<% end %>

    <div class="mobile-center">
    <section class="user_info">
    <div class="gravatar_wrapper">
    <%= link_to gravatar_tag(@user, :html => { :class => "gravatar" }), @user %>
    </div>
      <h1><div class="gravatar_wrapper"><%= link_to @user.name, @user %></div></h1>
      
      <div class="profile_link_view"><b>Grunts:</b> <%= @user.microposts.count %></div>
    </section>

    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_tag(user, size: 30, :html => { :class => "gravatar" }), user %>
          <% end %>
        </div>
      <% end %>
    </section>
    </div>
  </aside>
  <div class="content-box feed-box bigger-text">
  <div class="user-flash"><%= render 'layouts/flash' %></div>
    <h3><%= @title %></h3>
    <% if @users.any? %>
    
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate(renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer,
                        class: 'text-center') %>                    
    <% else %>
      <% if current_user == @user %>
        <p class="users" style="margin: 0 2px;">Start following <%= link_to "users", users_url %> to develop your own social network!</p>
      <% else %>
        <p><%= @user.name %> has not started this social activity, follow them to help them get started!</p>
        <div class="center">
        <%= render 'follow_form' if logged_in? %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
