<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :content, id: "gruntinput", maxlength: "14", placeholder: "Compose Grunt", autocomplete: "off" %>
  </div>
  <p id="gruntcounter">14 characters left</p>
  <%= f.submit "Grunt", class: "btn btn-primary btn-grunt" %>
  <span class="picture" style="display:none;">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript"> 
var $input =   $('#gruntinput')
var $counter = $('#gruntcounter')
var updateCounterText = function() {
  var max = 14;
  if ($input.val().length < max - 1) {
    $counter.html((max - $(this).val().length) + " characters left");
  } else if ($input.val().length == max - 1 ) {  
    $counter.html("1 character left");
  } else {
    $input.val($input.val().substr(0, max));
    $counter.html("<p style='color:maroon;'>0 characters left</span>");
  }
}
$input.bind("change keyup input", updateCounterText);
</script>
