<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :content, id: "preventnewline", maxlength: "14", placeholder: "Compose Grunt" %>
  </div>
  <p id="gruntcounter">14 characters left</p>
  <%= f.submit "Grunt", class: "btn btn-primary btn-grunt" %>
  <span class="picture" style="display:none;">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript"> 
  $("#preventnewline").keyup(function() {
    $("#gruntcounter").text((14 - $(this).val().length) + " characters left");
  });
</script>
